* {
  margin: 0;
  padding: 0;
}

.nav {
  padding: 15px;
  background-color: rgba(41, 255, 98, 0.2);
  width: 100vw;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.nav-link {
  list-style-type: none;
  font-weight: bold;
  margin-right: 25px;
  font-size: 18px;
}

.nav-link:hover {
  color: rgb(15, 110, 43);
  cursor: pointer;
}

.nav-link:active {
  color: rgb(162, 250, 188)
}
